<div class="rating js-rating">
    <div class="rating__table">
        <ul class="rating__table-head">
            <li>
                <span>Место</span>
                <span></span>
                <span>Имя фамилия</span>
                <span>Опыт</span>
            </li>
        </ul>
        <ul class="rating__table-list js-rating-list"></ul>
    </div>
</div>

{% include '../popup/popup.twig' %}
