<div class="panels">
    <div class="panels-slider">
        {% include "../friends-list/friends-list.twig" %}
    </div>

    <button class="panel-action panel-action__chat"></button>

    <button class="panel-action panel-action__move js-character-move">В универ</button>

    <button class="panel-action panel-action__messages"></button>

    <button class="panel-action panel-action__rating js-popup-rating"
            data-title="Рейтинг игроков"
            data-popup="popup">
    </button>

</div>
