<div class="debugger js-debugger" style="width: 240px; max-width: 240px">
    Кликни на карте,<br/>что получить координаты.
    <div>X: <span class="js-debugger-x"></span></div>
    <div>Y: <span class="js-debugger-y"></span></div>
    <div style="display: flex; flex-direction: column">
        <button class="js-debugger-add" style="margin-top: 4px">Добавить координаты</button>
        <button class="js-debugger-clear" style="margin-top: 4px">Очистить</button>
    </div>
    <div>Итоговый массив пути:</div>
    <div class="js-debugger-path"></div>
    <img class="js-move-elem" src="./assets/images/interactive/girl.png">
</div>
