<div class="popup js-popup" id="popup">
    <div class="popup__overlay js-popup-overlay"></div>
    <div class="popup__wrapper">
        <button class="buttons__close js-popup-close"></button>
        <div class="popup__title js-popup-title"></div>
        <div class="popup__content js-popup-content"></div>
    </div>
</div>
