<div class="friends-list js-slider js-friends">
    <button class="friends-list__button-left js-slider-left"></button>
    <div class="friends-list__slider js-slider-wrapper">
        <ul class="friends-list__slides js-slider-slides js-friends-wrapper"></ul>
    </div>
    <button class="friends-list__button-right js-slider-right"></button>
</div>
