@mixin background-default {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@mixin popup-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
